@model TicketMaster.Areas.Admin.ViewModels.User.DisplayAllUserProjectsViewModel
@{
    ViewData["Title"] = "DisplayAllUserProjects";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>User Projects</h1>

<div class="row">
    <div>
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 300px;">
                        <input id="myInput" onkeyup="myFuction(0)" type="text" name="table_search" class="form-control float-right" placeholder="Search by id...">

                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">

                    <thead class="text-nowrap">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Workers</th>
                            <th>Incoming Tickets</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        @foreach (var project in Model.Projects)
                        {
                            <tr>
                                <td>@project.Id</td>
                                <td>@project.Title</td>
                                <td>@project.Description</td>
                                <td><a class="btn btn-outline-dark " asp-area="Admin" asp-controller="Project" asp-action="DisplayAllProjectWorkers" asp-route-id="@project.Id">Project Workers(@project.Workers.Count())</a></td>
                                <td><a class="btn btn-outline-dark " asp-area="Admin" asp-controller="Project" asp-action="DisplayAllProjectIncomingTickets" asp-route-id="@project.Id">Incoming Tickets(@project.IncomingTickets.Count())</a></td>
                                @if (project.IsDeleted == false)
                                {
                                    <td class=" tag table-success">Active Project</td>
                                }
                                else
                                {
                                    <td class="tag table-danger"> Unactive Project</td>
                                }
                                <td><a class="btn btn-primary " asp-area="Admin" asp-controller="Project" asp-action="EditProject" asp-route-id="@project.Id">Edit Project </a></td>
                                <td><a class="btn btn-danger " asp-area="Admin" asp-controller="Project" asp-action="RemoveProjectToUser" asp-route-id="@project.Id">Remove Project </a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(myFuction(1));
    </script>
}