@model TicketMaster.Areas.Admin.ViewModels.User.FindUserViewModel
@{
    ViewData["Title"] = "FindUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>User</h1>

div class="row">
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Email Confirmation</th>
                        <th>Global</th>
                        <th>Projects</th>
                        <th>Answered Tickets</th>
                        <th>Send Tickets</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> @Model.Id</td>
                        <td> @Model.Username</td>
                        <td> @Model.CompanyId</td>
                        <td> @Model.Email</td>
                        @if (Model.EmailConfirmed)
                        {
                            <td class="text-success"> Email Confirmed</td>
                        }
                        else
                        {
                            <td class="text-danger"> Email Not Confirmed</td>
                        }
                        <td><a class="btn btn-outline-warning" asp-area="Admin" asp-controller="User" asp-action="DisplayAllUserProjects">Projects </a></td>
                        <td><a class="btn btn-outline-warning" asp-area="Admin" asp-controller="User" asp-action="DisplayAllUserAnsweredTickets">Answered Tickets </a></td>
                        <td><a class="btn btn-outline-warning" asp-area="Admin" asp-controller="User" asp-action="DisplayAllUserSendTickets">Send Tickets </a></td>
                        @if (Model.IsDeleted == false)
                        {
                            <td class=" tag table-success">Active User</td>
                        }
                        else
                        {
                            <td class="tag table-danger"> Unactive User</td>
                        }
                        <td><a class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="EditUser" asp-route-id="@Model.Id">Edit User </a> </td>
                        <td><a class="btn btn-danger" asp-area="Admin" asp-controller="User" asp-action="DeleteUser" asp-route-id="@Model.Id">Delete User </a> </td>
                    </tr>
                    @*@foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.UserName</td>
                            <td>Id:@user.CompanyId- @user.Company.Name</td>
                            <td>@user.Email</td>
                            @if (user.EmailConfirmed)
                            {
                                <td class="text-success">Email Confirmed </td>
                            }
                            else
                            {
                                <td class="text-danger">Email Not Confirmed </td>
                            }
                            @if (user.IsGlobal)
                            {
                                <td class="text-success">Global User </td>
                            }
                            else
                            {
                                <td class="text-danger">Not Global User </td>
                            }

                            <td>@user.Projects.Count() <a class="btn btn-outline-warning" asp-area="Admin" asp-controller="User" asp-action="DisplayAllUserProjects" asp-route-id="@user.Id">User Projects </a></td>
                            <td>@user.AnsweredTickets.Count() <a class="btn btn-outline-info" asp-area="Admin" asp-controller="User" asp-action="DisplayAllUserAnsweredTickets" asp-route-id="@user.Id">All Answered User Tickets </a></td>
                            <td>@user.SendTickets.Count() <a class="btn btn-outline-info" asp-area="Admin" asp-controller="User" asp-action="DisplayAllUserSendTickets" asp-route-id="@user.Id">All Send User Tickets </a></td>
                            @if (user.IsDelete == false)
                            {
                                <td class=" tag table-success">Active User</td>
                            }
                            else
                            {
                                <td class="tag table-danger"> Unactive User</td>
                            }
                            <td>
                                <a class="btn btn-success " asp-area="Admin" asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id">Edit </a>
                            </td>
                            <td>
                                <a class="btn btn-danger " asp-area="Admin" asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id">Delete </a>
                            </td>
                        </tr>
                    }*@

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
</div>
