@model TicketMaster.Areas.Agent.ViewModels.Ticket.UserTicketsViewModel
@{
    ViewData["Title"] = "MyAnswerTickets";
    Layout = "~/Areas/Agent/Views/Shared/_AgentLayout.cshtml";
}

<h1>My Answer Tickets</h1>
<div class="row">
    <div>
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 300px;">
                        <input id="myInput" onkeyup="myFuction(1)" type="text" name="table_search" class="form-control float-right" placeholder="Search by Send ticket id...">

                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover ">

                    <thead class="text-nowrap">
                        <tr>
                            <th>ID</th>
                            <th>Ticket Id</th>
                            <th>Title of Send Ticket</th>
                            <th>Description</th>
                            <th>Send on</th>
                            <th>Author </th>
                            <th>Agent </th>



                        </tr>
                    </thead>
                    <tbody id="myTableBody">
                        @foreach (var ticket in Model.Tickets)
                        {

                            <tr>
                                <td>@ticket.Id</td>
                                <td>@ticket.TicketId</td>
                                <td>@ticket.Title</td>
                                <td>@ticket.Descripton</td>
                                <td>@ticket.SendOn</td>
                                <td>@ticket.Author.UserName</td>
                                <td>@ticket.Agent.UserName</td>
                                @if (ticket.IsAnswered)
                                {
                                    <td><button class="btn btn-success"> Answered Ticket</button></td>
                                }
                                else if (ticket.Priority == 0 && !ticket.IsAnswered && ticket.TicketId!=0)
                                {
                                    <td><button class="btn btn-outline-danger">This Is A Answer Ticket</button></td>
                                }
                                else
                                {
                                    <td><a class="btn btn-danger" asp-area="Agent" asp-controller="Ticket" asp-action="AnswerTicket" asp-route-id="@ticket.Id"> Answer Ticket</a></td>
                                }

                                <td><a class="btn btn-outline-dark" asp-area="Agent" asp-controller="Ticket" asp-action="MySendTickets" asp-route-id="@User.Identity.Name">Send Ticket Info</a></td>
                                
                                @if (ticket.IsAnswered)
                                {
                                    <td><button disabled class="btn btn-outline-dark" asp-area="Agent" asp-controller="Ticket" asp-action="EditTicket" asp-route-id="@ticket.Id">Edit Ticket</button></td>
                                }
                                else if (ticket.Priority == 0 && !ticket.IsAnswered && ticket.TicketId!=0)
                                {
                                    <td><a class="btn btn-dark" asp-area="Agent" asp-controller="Ticket" asp-action="EditTicket" asp-route-id="@ticket.Id">Edit Ticket</a></td>
                                }
                                else
                                {
                                    <td><button disabled class="btn btn-outline-dark" asp-area="Agent" asp-controller="Ticket" asp-action="EditTicket" asp-route-id="@ticket.Id">Edit Ticket</button></td>
                                }
                                
                                <td><a class="btn btn-danger " asp-area="Agent" asp-controller="Ticket" asp-action="DeleteTicket" asp-route-id="@ticket.Id">Delete Ticket </a></td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
@section Scripts {
    <script>

        $(document).ready(myFuction(1));
    </script>
}

